@import "./shared";
@import "../components/Header/header";
@import "../components/PieChart/pieChart";
@import "../components/InvestmentForm/investmentForm";
@import "../components/UserInvestments/userInvestments";

body {
  margin: 0;
  font-family: $ff-body;
}

.row {
  display: flex;
}
